body {
    background-color: rgba(240, 234, 214, 0.692);;
}

footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #54c6ebff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%
}

.navbar-expand-lg {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #54c6ebff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
}


