body {
    background-color: rgba(240, 234, 214, 0.692);
}

.footer {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #54c6ebff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%
}

.navbar-expand-lg {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #54c6ebff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: medium;
}

/* Befor Login page */

#beforeloginimg {
    width: 200px;
}

#beforelogin-body{
    padding-bottom: 50px ;
}

.social-icons a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.footerbeforelogin {
    border-top: 1px solid gray;
    padding-top: 5%;
    margin: 10px;
}

/* login page */
.login-prompt {
    padding-top: 5%;
}
#firebaseui-auth-container {
    padding-top: 50px;
    padding-bottom: 130px;
}
/* landing page */

#landingpage-list {
    list-style-type: none;
}

#see-aval-fridge {
    font-size: 15pt;
}
/* Profile page CSS */

#profile-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
}

.accordion {
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

.accordion-button {
    font-weight: bold;
    font-size: larger;
}

.accordion ul {
    list-style: none;
}

.accordion li {
    margin: 1rem;
}

.btn-info {
    margin-left: 1em;
}

/* About Us Page CSS */

.about-us-container {
    font-family: "Montserrat", sans-serif;
    margin: 1rem;
    padding-bottom: 4rem;
}

.about-us-container p {
    font-size: 14pt;
}

.about-us-container img {
    width: 350px;
    float: left;
    border-radius: 30%;
    margin: 1rem;
}

/* Favourite Fridges Page CSS */

#favourites {
    padding-bottom: 6rem;
    font-family: "Montserrat", sans-serif;
    font-size: 16pt;
}

#favourites h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em;
    font-weight: bolder;
    font-size: 26pt;
}



#favourites img {
    height: 300px;
    object-fit: cover;
   
}

.imgs img {
    height: 200px;
    object-fit: cover;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  
}

#imgs {
    height: 150px;
    margin: 0px;
    padding: 0px;
}

#desc {
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#end {
    height: 50vh;
}

/* fridge browsing page CSS */

#imgs img {
    width: 100%;
    height: 200px;
    object-fit: cover;    
}

#fridgebrowse-fridgecard {
    padding: 0.3em;
    width: 100%;
    margin: 0.3em;
}

#desc {
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 15pt;

}

.browse-bar-item {
    margin-right: 5px;
    margin-left: 5px;
}

/* #search-bar .input-group-text,
#search-bar input {
    font-size: 1.5em !important;
} */

.fave-btn {
    background: none;
    border: none;
    padding: 0;
    size: 35px;
}

.browse-title h1{
    margin-top: 0.5em;
    text-align: center;
}

#seefridge {
    background-color:rgba(101, 205, 240, 0.801) ;
    color:black;
    height: 38px;
    width: 100.08px;
    align-items: center;
    text-wrap: nowrap;
}

.favourite-button {
    width: 50px;
}

.direction-button {
    border-radius: 10px;
    background-color: white;
    align-items: center;
}

#fridges-go-here {
    margin-bottom: 100px;
}

/* Contents page CSS */
.content-body-container {
    width: 90vw;
    height: 60vh;
    background-color: whitesmoke ;
}

.fridge-item-title {
    align-self: center;
    font-size: 16pt;
}

.take-button {
    font-size: 14pt;
    color: black;
    background-color:rgba(240, 234, 214, 0.692);
}

#content-buttons div {
    width: 50%;
    background-color: #54c6ebff ;
}

#content-buttons button {
    font-size: 14pt;
    color: black;
    margin:0.5em;
    height: 65px;
    background-color: rgba(240, 234, 214, 0.692);
}

.h5 {
    font-size: 20pt;
}

.input-group-take-btn {
    width: auto !important;
}

.fridge-item {
    justify-content: space-between;
}

.timestamp-template i{
    float: left;
}

#donate-input {
    font-size: 14pt;
    width: 100%;
}
.content-container{
    width: 100%;
    height: 88%;
}
.content-innerbox {
    height: 100%;
    overflow: auto;
}


/* notification off canvas styling */

.notif-body {
    padding: 0.5em;
    margin: 10px
}